.tasksList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  background-color: oklch(0.929 0.013 255.508);
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.task {
  display: flex;
  gap: 6px;
}

.taskBtn,
.interativeButton {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", serif;
  color: #fff;
  border: transparent;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  background-color: oklch(0.554 0.046 257.417);
  cursor: pointer;
}

.taskBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  text-align: left;
}

.interativeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  text-decoration: line-through;
}
